* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    overflow: hidden !important
}

@font-face {
    font-display: swap;
    font-family: "Majorant-Md";
    src: url(../assets/fonts/Majorant-Md.woff2)
}

@font-face {
    font-display: swap;
    font-family: "Majorant-Lt";
    src: url(../assets/fonts/Majorant-Lt.woff2)
}

@font-face {
    font-display: swap;
    font-family: "Majorant-Rg";
    src: url(../assets/fonts/Majorant-Rg.woff2)
}

.content {
    display: none
}
.active-el,.active-el >* {
    opacity: 1;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all}
.inactive-el,
.inactive-el>* {
    opacity: .4;
    pointer-events: none;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all
}


.active-content {
    display: block
}

.d-n {
    display: none !important;
    z-index: -1 !important
}

.wrapper {
    background-color: #000;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    z-index: -1
}

.wrapper video {
    -o-object-fit: cover;
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100vw;
    z-index: -1
}



header .menu-alter {
    position: absolute;
    top: 130px;
    right: 100px;    
    z-index: 10;
}

header .logo {
    left: 100px;
    position: absolute;
    top: 130px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
    
}

header .logo svg:hover {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

header .logo svg {
    
    -webkit-transform: scale(0.75);
    
        -ms-transform: scale(0.75);
    
            transform: scale(0.75);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-wrapper {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-wrapper:hover,
.tgl-brd {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8)
}

.menu-trigger,
.menu-trigger span {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

.menu-trigger {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    background: transparent;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none;
    padding: 30px;
    position: relative;
    width: 40px;
    z-index: 10
}

.menu-trigger span {
    background-color: #fff;
    border-radius: 6px;
    height: 2px;
    position: absolute;
    width: 40px
}

.menu-trigger span:nth-of-type(1) {
    top: 40%
}

.menu-trigger span:nth-of-type(2) {
    bottom: 40%
}

#menu01.tgl span:nth-of-type(1) {
    -webkit-transform: translateY(5px) rotate(-45deg);
        -ms-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg)
}

#menu01.tgl span:nth-of-type(2) {
    -webkit-transform: translateY(-5px) rotate(45deg);
        -ms-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg)
}

.bg-alter {
    -webkit-backdrop-filter: blur(10px) brightness(30%);
            backdrop-filter: blur(10px) brightness(30%);
    height: 100vh;
    position: fixed;
    top: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    width: 100vw;
    z-index: 8
}

.display-n {
    opacity: 0;
    -webkit-transition: visibility 0s, opacity .5s linear;
    -o-transition: visibility 0s, opacity .5s linear;
    transition: visibility 0s, opacity .5s linear;
    visibility: hidden
}

.menu-alter-wrap {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 1;
    z-index: 12
}

.menu-alter-el {
    color: #fff;
    font-family: 'Majorant-Lt';
    font-size: 2em;
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-alter-el:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-extra {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    -webkit-transform: .5s;
        -ms-transform: .5s;
            transform: .5s;
    width: 100%
}

.menu-extra-anim {
    -webkit-animation: menu-extra .4s linear;
            animation: menu-extra .4s linear
}

.menu-extra-el {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    font-family: "Majorant-Rg";
    margin: 25px 30px;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-extra-el:nth-child(1) {
    -webkit-animation-delay: 0;
            animation-delay: 0
}

.menu-extra-el:nth-child(2) {
    -webkit-animation-delay: .25s;
            animation-delay: .25s
}

.menu-extra-el:nth-child(3) {
    -webkit-animation-delay: .5s;
            animation-delay: .5s
}

.menu-extra-el:nth-child(4) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s
}

button:hover,
a:hover {
    cursor: pointer
}

@-webkit-keyframes menu-extra {
    0% {
        margin-bottom: 0;
        opacity: 0
    }

    100% {
        margin-bottom: 25px;
        opacity: 1
    }
}

@keyframes menu-extra {
    0% {
        margin-bottom: 0;
        opacity: 0
    }

    100% {
        margin-bottom: 25px;
        opacity: 1
    }
}

.menu-extra-el a {
    color: grey;
    font-size: 1em
}

.menu-extra-el:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-extra-el:hover a {
    color: #fff
}

.side-bar,
.menu-alter-wrap {
    height: 250px;
    width: 74px;
    position: fixed;
    right: 95px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10
}

.side-bar .menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    z-index: 8
}

.menu-el {
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.active a::after,
.active a::before,
.tgl-brd button::after,
.tgl-brd button::before {
    opacity: 1 !important
}

.menu-el a {
    display: block;
    color: #fff;
    font-size: 10px;
    padding: 11px;
    position: relative;
    text-align: center;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  
}

.menu-el a::before,
.menu-el a::after,
.menu-wrapper button::before,
.menu-wrapper button::after {
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    content: " ";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100%
}
.menu-el:not(.active) a::after {
    border-bottom: 1px #fff solid;
    border-left: 1px #fff solid;
    border-right: 1px rgba(0, 0, 0, .1) solid;
    border-top: 1px rgba(0, 0, 0, .1) solid;
}
.menu-el a:hover::before,
.menu-el a:hover::after,
.menu-wrapper button:hover::before,
.menu-wrapper button:hover::after {
    opacity: 1
}

.menu-el a i,
.active a i {
    -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
            transform: scale(0.35);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-el a:hover>i,
.active a>i {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.active a::before,
.menu-wrapper button:hover::before,
.tgl-brd button::before {
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.active a::after,
.tgl-brd button::after,
.tgl-brd button:hover::after {
    border-bottom: 1px grey solid;
    border-top: 1px grey solid;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg)
}

.menu-el a:hover::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-el a:hover::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-el a:hover>span {
    
    opacity: 1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transform: translate(5%, -50%);
        -ms-transform: translate(5%, -50%);
            transform: translate(5%, -50%);
    -webkit-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: .6s;
         -o-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    z-index: 10
}

.menu-el a span {
    font-family: "Majorant-Rg";
    font-size: 1em;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translate(-20%, -50%);
        -ms-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.menu-el a:hover::after {
    -webkit-animation: hover-menu-anim .5s linear forwards;
            animation: hover-menu-anim .5s linear forwards;
    border: 1px solid grey
}

.menu-el a:hover::before {
    border: none
}

@-webkit-keyframes hover-menu-anim {
    0% {
        border: 1px rgba(0, 0, 0, .1) solid
    }

    25% {
        border-top: 1px #fff solid;
        width: 100%
    }

    50% {
        border-right: 1px #fff solid
    }

    75% {
        border-bottom: 1px #fff solid;
        border-left: 1px rgba(0, 0, 0, .1) solid;
        border-top: 1px rgba(0, 0, 0, .1) solid
    }

    100% {
        border-bottom: 1px #fff solid;
        border-left: 1px #fff solid;
        border-right: 1px rgba(0, 0, 0, .1) solid;
        border-top: 1px rgba(0, 0, 0, .1) solid
    }
}

@keyframes hover-menu-anim {
    0% {
        border: 1px rgba(0, 0, 0, .1) solid
    }

    25% {
        border-top: 1px #fff solid;
        width: 100%
    }

    50% {
        border-right: 1px #fff solid
    }

    75% {
        border-bottom: 1px #fff solid;
        border-left: 1px rgba(0, 0, 0, .1) solid;
        border-top: 1px rgba(0, 0, 0, .1) solid
    }

    100% {
        border-bottom: 1px #fff solid;
        border-left: 1px #fff solid;
        border-right: 1px rgba(0, 0, 0, .1) solid;
        border-top: 1px rgba(0, 0, 0, .1) solid
    }
}

.menu-wrapper button:hover::after {
    border-bottom: 1px grey solid;
    border-top: 1px grey solid;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.view-wrapper {
    bottom: 80px;
    left: 100px;
    position: fixed;
    z-index: 10
}

.button-view-wrap button {
    color: #fff;
    letter-spacing: 2px
}

.button-view-wrap button p {
    font-family: "Majorant-Rg"
}

.view-wrapper button {
    background: transparent;
    border: none;
    font-family: "Times New Roman", Times, serif;
    font-size: .7em;
    font-weight: lighter;
    height: 100%;
    left: 50%;
    outline: none;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5
}

.view-wrapper button p {
    -webkit-animation: view-btn-anim 1s linear forwards;
            animation: view-btn-anim 1s linear forwards;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg)
}

@-webkit-keyframes view-btn-anim {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes view-btn-anim {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.button-view-wrap {
    border: 1px solid grey;
    border-radius: 2px;
    height: 100px;
    position: relative;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 100px;
    z-index: 4
}

.button-view-wrap::after {
    border-radius: 2px;
    border-top: 1px solid #FFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    content: " ";
    height: 100%;
    left: 0;
    line-height: 100px;
    position: absolute;
    top: -2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 50%
}

.project-wrapper-grid {
    background-color: #0f0d23;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1450vw
}

.flex-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    width: 100%
}

.group .project {
    position: relative;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

.project img {
    border-radius: 3px;
    -webkit-filter: brightness(20%);
            filter: brightness(20%);
   
    height: 35vh;
    margin: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 35vh;
    z-index: 4
}

.group .project p {
    -webkit-animation: prj-text-anim .5s linear forwards;
            animation: prj-text-anim .5s linear forwards;
    color: #fff;
    cursor: pointer;
    font-family: "Majorant-Md";
    font-size: 3em;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 5
}

@-webkit-keyframes prj-text-anim {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes prj-text-anim {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.project p:hover~img,
.project img:hover {
    cursor: pointer;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.project-wrapper-list {
    -webkit-animation: gradient-swap-in 2.8s ease-in-out forwards;
            animation: gradient-swap-in 2.8s ease-in-out forwards;
    background: -webkit-gradient(linear, left top, right top, color-stop(60%, #0f0d23), to(transparent));
    background: -o-linear-gradient(left, #0f0d23 60%, transparent);
    background: linear-gradient(90deg, #0f0d23 60%, transparent);
    background-position: 0;
    height: 100vh;
    position: absolute;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100vw;
    z-index: 6
}

.project-view-swap {
    -webkit-animation: gradient-swap-out 2.8s ease-in-out forwards;
            animation: gradient-swap-out 2.8s ease-in-out forwards;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

@-webkit-keyframes gradient-swap-in {
    0% {
        display: block;
        left: -100%
    }

    100% {
        left: 0
    }
}

@keyframes gradient-swap-in {
    0% {
        display: block;
        left: -100%
    }

    100% {
        left: 0
    }
}

@-webkit-keyframes gradient-swap-out {
    0% {
        left: 0
    }

    100% {
        display: none;
        left: -100%
    }
}

@keyframes gradient-swap-out {
    0% {
        left: 0
    }

    100% {
        display: none;
        left: -100%
    }
}

.project-view-swap .project-list {
    -webkit-transition: visibility 2s;
    -o-transition: visibility 2s;
    transition: visibility 2s;
    visibility: hidden
}

.project-list .project-el:nth-child(1),
.project-view-swap .project-list .project-el:nth-child(1) {
    -webkit-animation-delay: .25s;
            animation-delay: .25s
}

.project-list .project-el:nth-child(2),
.project-view-swap .project-list .project-el:nth-child(2) {
    -webkit-animation-delay: .5s;
            animation-delay: .5s
}

.project-list .project-el:nth-child(3),
.project-view-swap .project-list .project-el:nth-child(3) {
    -webkit-animation-delay: .75s;
            animation-delay: .75s
}

.project-list .project-el:nth-child(4),
.project-view-swap .project-list .project-el:nth-child(4) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s
}

.project-list .project-el:nth-child(5),
.project-view-swap .project-list .project-el:nth-child(5) {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s
}

@-webkit-keyframes project-view-swap-out {
    0% {
        opacity: 1;
        top: 0
    }

    100% {
        opacity: 0;
        top: -20%
    }
}

@keyframes project-view-swap-out {
    0% {
        opacity: 1;
        top: 0
    }

    100% {
        opacity: 0;
        top: -20%
    }
}

@-webkit-keyframes project-view-swap-in {
    0% {
        bottom: -20%;
        opacity: 0
    }

    100% {
        bottom: 0;
        opacity: 1
    }
}

@keyframes project-view-swap-in {
    0% {
        bottom: -20%;
        opacity: 0
    }

    100% {
        bottom: 0;
        opacity: 1
    }
}

.project-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Majorant-Md';
    font-size: 26px;
    height: 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 40%;
    letter-spacing: .2rem;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
}

.project-view-swap .project-list .project-el {
    -webkit-animation: project-view-swap-out .65s ease-in-out forwards;
            animation: project-view-swap-out .65s ease-in-out forwards;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.project-list .project-el {
    -webkit-animation: project-view-swap-in .65s ease-in-out forwards;
            animation: project-view-swap-in .65s ease-in-out forwards;
    font-size: 5vw;
    opacity: 0;
    position: relative;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all
}

.project-list .project-el a {
    display: block;
    color: #fff;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    width: calc(80vw - 10%);
}

.project-list .project-el:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all
}

.project-list .project-el span {
    font-size: 12px
}

.page-scroller {
    display: none
}

@-webkit-keyframes bg {
    0% {
        background-size: 0 10px, 5px 0, 0 10px, 5px 0
    }

    25% {
        background-size: 100% 10px, 5px 0, 0 10px, 5px 0
    }

    50% {
        background-size: 100% 10px, 5px 100%, 0 10px, 5px 0
    }

    75% {
        background-size: 100% 10px, 5px 100%, 100% 10px, 5px 0
    }

    100% {
        background-size: 100% 10px, 5px 100%, 100% 10px, 5px 100%
    }
}

@keyframes bg {
    0% {
        background-size: 0 10px, 5px 0, 0 10px, 5px 0
    }

    25% {
        background-size: 100% 10px, 5px 0, 0 10px, 5px 0
    }

    50% {
        background-size: 100% 10px, 5px 100%, 0 10px, 5px 0
    }

    75% {
        background-size: 100% 10px, 5px 100%, 100% 10px, 5px 0
    }

    100% {
        background-size: 100% 10px, 5px 100%, 100% 10px, 5px 100%
    }
}

#page-scroller {
    -webkit-backdrop-filter: blur(10px) brightness(10%);
            backdrop-filter: blur(10px) brightness(10%);
    display: block;
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 15
}

.loader-text {
    left: 45%;
    position: relative;
    top: 55%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0.8);
        -ms-transform: translate(-50%, -50%) rotate(-45deg) scale(0.8);
            transform: translate(-50%, -50%) rotate(-45deg) scale(0.8)
}

.header-proj-img {
    height: 80vw;
    max-height: 80vh;
    position: relative;
    width: 100vw
}

.header-proj-img img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10
}

.slogan-wrapper {
    color: #fff;
    font-family: "Majorant-Rg";
    font-size: 3rem;
    left: 100px;
    position: relative;
    top: 40%;
    width: 70vw
}

.project-stats {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80vw
}

.project-stats .project-stats-group {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%
}

.project-stats-group .stats-info p {
    font-family: "Majorant-Rg";
    font-size: 18px
}

.project-stats-group .stats-info span,
.project-stats-group .stats-info a {
    font-family: "Majorant-Md";
    font-size: 18px
}

#project {
    background-color: #FFF;
    width: 100vw
}

.project-description {
    height: 550px;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80vw
}

.project-description h3 {
    font-family: "Majorant-Md";
    margin-bottom: 25px
}

.project-description p {
    font-family: "Majorant-Lt"
}

.project-footer {
    height: 100px;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80vw
}

.back-to-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 200px
}

.arrow-back>* {
    color: grey;
    font-size: 44px;
    left: -25px;
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.arrow-back:hover>* {
    left: -50px;
    -webkit-transform: scale(1.2) translateX(20%);
        -ms-transform: scale(1.2) translateX(20%);
            transform: scale(1.2) translateX(20%);
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear
}

.scroll-animation-out-home>* {
    -webkit-animation: scroll-animation-out-1 ease-in-out 2s;
            animation: scroll-animation-out-1 ease-in-out 2s
}

.scroll-animation-in-home>* {
    -webkit-animation: scroll-animation-in-1 ease-in-out 2s;
            animation: scroll-animation-in-1 ease-in-out 2s
}

.scroll-animation-out-about>* {
    -webkit-animation: scroll-animation-out-4 linear 1s forwards;
            animation: scroll-animation-out-4 linear 1s forwards
}

.scroll-animation-in-about>* {
    -webkit-animation: scroll-animation-in-4 linear 1s forwards;
            animation: scroll-animation-in-4 linear 1s forwards
}

@-webkit-keyframes scroll-animation-in-4 {
    0% {
        background-color: inherit;
        opacity: 0
    }

    100% {
        background-color: #2e0056;
        opacity: 1
    }
}

@keyframes scroll-animation-in-4 {
    0% {
        background-color: inherit;
        opacity: 0
    }

    100% {
        background-color: #2e0056;
        opacity: 1
    }
}

@-webkit-keyframes scroll-animation-out-4 {
    0% {
        background-color: #2e0056;
        opacity: 1
    }

    100% {
        background-color: #000;
        opacity: 0
    }
}

@keyframes scroll-animation-out-4 {
    0% {
        background-color: #2e0056;
        opacity: 1
    }

    100% {
        background-color: #000;
        opacity: 0
    }
}

.menu-project-trigger span {
    background-color: grey !important
}

@-webkit-keyframes scroll-animation-out-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.8);
                transform: scale(0.8)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.6);
                transform: scale(0.6)
    }
}

@keyframes scroll-animation-out-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.8);
                transform: scale(0.8)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.6);
                transform: scale(0.6)
    }
}

@-webkit-keyframes scroll-animation-in-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
                transform: scale(0.6)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(0.8);
                transform: scale(0.8)
    }
}

@keyframes scroll-animation-in-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
                transform: scale(0.6)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(0.8);
                transform: scale(0.8)
    }
}

.scroll-animation-out-projects>* .project,
.scroll-animation-out-team>* .project {
    -webkit-animation: scroll-animation-out-2 cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
            animation: scroll-animation-out-2 cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s
}

.scroll-animation-in-projects>* .project,
.scroll-animation-in-team>* .project {
    -webkit-animation: scroll-animation-in-2 cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
            animation: scroll-animation-in-2 cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s
}

@-webkit-keyframes scroll-animation-out-2 {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes scroll-animation-out-2 {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes scroll-animation-in-2 {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes scroll-animation-in-2 {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.header-about {
    background-color: #0f0d23;
    height: 80vw;
    max-height: 80vh;
    position: relative;
    width: 100vw
}

.header-about svg {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
}

.button-scroll-down,
.mobile-default-view {
    display: none
}

#project-scroll {
    display: block;
    position: absolute
}

#project-scroll button {
    font-size: 34px
}

@media only screen and (max-device-width: 680px) {
    /* * {
        border: 1px solid red;
    } */
    .side-bar {
        display: none;
    }
    .header {
        position: absolute;
        width: 100vw;
        height: 100px;
    }
    header .logo {
        left: 0;
        top: 10px;
        position: relative;
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6);
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        z-index: 10;
    }
    header .menu-alter {
        position: absolute;
        top: 10px;
        right: 50px;    
        z-index: 10;
    }
    .menu-alter-wrap {
        right: 50px;
    }
    

    .logo svg path,
    .menu-trigger span {
        background-color: #7601fd;
        fill: #7601fd
    }

    .wrapper video {
        -o-object-fit: contain;
           object-fit: contain;
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        -webkit-transition: -webkit-transform .5s ease-in-out;
        transition: -webkit-transform .5s ease-in-out;
        -o-transition: transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out
    }

    @-webkit-keyframes scroll-animation-out-1 {
        0% {
            opacity: 1;
            -webkit-transform: scale(1.5);
                    transform: scale(1.5)
        }

        100% {
            opacity: 0;
            -webkit-transform: scale(0.6);
                    transform: scale(0.6)
        }
    }

    @keyframes scroll-animation-out-1 {
        0% {
            opacity: 1;
            -webkit-transform: scale(1.5);
                    transform: scale(1.5)
        }

        100% {
            opacity: 0;
            -webkit-transform: scale(0.6);
                    transform: scale(0.6)
        }
    }

    @-webkit-keyframes scroll-animation-in-1 {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.6);
                    transform: scale(0.6)
        }

        100% {
            opacity: 1;
            -webkit-transform: scale(1.5);
                    transform: scale(1.5)
        }
    }

    @keyframes scroll-animation-in-1 {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.6);
                    transform: scale(0.6)
        }

        100% {
            opacity: 1;
            -webkit-transform: scale(1.5);
                    transform: scale(1.5)
        }
    }

    .view-wrapper {
        display: none
    }

    .mobile-view-wrapper {
        display: block !important;
        left: 60%;
        position: absolute
    }

    .button-scroll-down {
        display: block !important;
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        z-index: 7
    }

    .button-view-wrap::after {
        border-top: 2px solid #7601fd !important
    }

    .menu-extra {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px
    }

    .menu-extra-el {
        font-size: .6em;
        margin: 0
    }

    .button-scroll-down p {
        font-size: 34px
    }

    .mobile-default-view {
        -webkit-backdrop-filter: brightness(60%) blur(2px);
                backdrop-filter: brightness(60%) blur(2px);
        display: block;
        height: 100vh;
        position: absolute;
        width: 100vw;
        z-index: 7
    }

    .mobile-default-view p {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-family: "Majorant-Md";
        font-size: 20px;
        height: 35vh;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        left: 50%;
        line-height: 25px;
        position: absolute;
        top: 45%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 60vw
    }

    .mobile-default-view p button {
        background: transparent;
        border: none;
        color: #7601fd;
        font-family: "Majorant-Md";
        font-size: 18px;
        outline: none;
        text-decoration: underline;
        text-transform: uppercase
    }

    .mobile-back-arrow {
        bottom: 9vh;
        left: 12vw;
        position: absolute;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        z-index: 6
    }

    .mobile-back-arrow button {
        background: transparent;
        border: none;
        color: #fff;
        font-size: 48px;
        outline: none;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s
    }

    .project-list .project-el {
        font-size: 1.2em
    }

    .button-scroll-down-project {
        display: none !important
    }

    .back-to-main {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 125%;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
                transform: scale(0.7);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        width: 105px
    }

    .button-view-wrap button,
    .back-to-main>* svg {
        color: #7601fd
    }

    @-webkit-keyframes scroll-animation-out-2 {
        0% {
                     opacity: 1
        }

        100% {
          
            opacity: .1
        }
    }

    @keyframes scroll-animation-out-2 {
        0% {
                     opacity: 1
        }

        100% {
          
            opacity: .1
        }
    }

    @-webkit-keyframes scroll-animation-in-2 {
        0% {
          
            opacity: .1
        }

        100% {
           
            opacity: 1
        }
    }

    @keyframes scroll-animation-in-2 {
        0% {
          
            opacity: .1
        }

        100% {
           
            opacity: 1
        }
    }
}